@font-face {
    font-family: 'Latin';
    src: local('Latin'), url(../assets/fonts/ALBAS.TTF) format('.ttf');
  }

h1 {
    position: absolute;
}

h2,
h1 {
    color: hsl(184 100% 65%);
    text-shadow: 2.5px 2.5px 2px black,
                -2.5px -2.5px 2px black;
}

span {
    position: absolute;
}

.taikaiwiContainer {
    width: 100vw;
    height: 1200px;
    background-color: hsl(185 100% 31%);
    /* background-color: hsla(263, 82%, 67%, 0.795); */
    /* font-family: 'Latin'; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;

}



.taikaiwiContainer .moveable {
    position: absolute;
    left: 48%;
    top: 10%;
    font-size: 170px;
    font-family: 'Latin';
}

/* .taikaiwiContainer span h1 {
    position: absolute;
} */

/* .taikaiwiContainer span {
    display: inline-block;
    padding: 0;
    margin: 0;
} */

.depth {
    color: hsl(174 72% 58%);
    position: relative;
    z-index: 100;
}
.depth:before, 
.depth:after {
    content: attr(title);
    color: black;
    position: absolute;
    z-index: -1;
}
.depth:before { top: 2px; left: 2px }
.depth:after  { top: -2px; left: -2px }

img {
    max-height: 500px;
    margin-top: 15px;
    opacity: 0.8;



}